.content {
  max-width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

.content__forms {
  display: flex;
}
.content__forms__item {
  flex: 1;
  padding: 1rem;
}

.content__forms__old {
  border-right: 1px solid #ccc;
}

.content h1 {
  font-size: 3.75rem;
}
